# Database
DATABASE_URL="your-database-url"

# Next Auth
NEXTAUTH_URL="the-base-url-of-your-website"
NEXTAUTH_SECRET="random-string-of-your-choice"

GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"

GITHUB_CLIENT_ID="your-github-client-id"
GITHUB_CLIENT_SECRET="your-github-client-secret"
